@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito Sans', sans-serif;
}
.banner-container{
  padding: auto;
}
.banner-text {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
}

.post-container {
  height: auto;
  width: 100%;
  background-color: #212529;
  color: #fff;
  border-radius: 10px;
}

.post-img {
  height: 150px;
}

.card-subtitle {
  color: gray;
  font-size: 12px;
}

.card-title {
  font-size: 20px;
}

.card-text {
  font-size: 15px;
}

.input-title, .input-description {
  border: none;
  outline: none;
  width: 80%;
  resize: none;
}

.input-category {
  border: 1px solid #000;
  outline: none;
  width: auto;
}

option {
  font-family: 'Nunito Sans', sans-serif;
}

.btn-picture{
  border-radius: 50%;
}